RewriteEngine On
RewriteBase /

# Otherwise, rewrite the request to src/index.php
# This effectively routes all non-file/non-directory requests (like /about, /projects)
# and potentially requests for files within src (like /assets/style.css)
# to the PHP script for handling.
RewriteRule ^ src/index.php [L,QSA]